function Keyboard.init 0
    push constant 0
    return
function Keyboard.keyPressed 0
    push constant 24576
    call Memory.peek 1
    return
function Keyboard.readChar 1
    call Keyboard.readCharI 0
    pop local 0
    push local 0
    call Output.printChar 1
    pop temp 0
    push local 0
    return
function Keyboard.readCharI 1
    push constant 0
    pop local 0
    push constant 0
    call Output.printChar 1
    pop temp 0
label Keyboard_0
    push local 0
    push constant 0
    eq
    not
    if-goto Keyboard_1
    call Keyboard.keyPressed 0
    pop local 0
    goto Keyboard_0
label Keyboard_1
label Keyboard_2
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Keyboard_3
    goto Keyboard_2
label Keyboard_3
    call Output.backSpace 0
    pop temp 0
    push local 0
    return
function Keyboard.readLine 3
    push argument 0
    call Output.printString 1
    pop temp 0
    push constant 256
    call String.new 1
    pop local 0
    push constant 0
    pop local 2
    call Keyboard.readCharI 0
    pop local 1
label Keyboard_4
    push local 1
    call String.newLine 0
    eq
    not
    not
    if-goto Keyboard_5
    push local 1
    call String.backSpace 0
    eq
    not
    if-goto Keyboard_7
    push local 2
    push constant 0
    gt
    not
    if-goto Keyboard_9
    push local 0
    call String.eraseLastChar 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
    call Output.backSpace 0
    pop temp 0
    call Output.backSpace 0
    pop temp 0
    push local 2
    push constant 1
    sub
    pop local 2
    goto Keyboard_8
label Keyboard_9
label Keyboard_8
    goto Keyboard_6
label Keyboard_7
    push local 1
    push constant 128
    lt
    push local 1
    push constant 31
    gt
    and
    not
    if-goto Keyboard_11
    push local 2
    push constant 256
    lt
    not
    if-goto Keyboard_13
    push local 2
    push constant 1
    add
    pop local 2
    push local 0
    push local 1
    call String.appendChar 2
    pop temp 0
    push local 1
    call Output.printChar 1
    pop temp 0
    goto Keyboard_12
label Keyboard_13
label Keyboard_12
    goto Keyboard_10
label Keyboard_11
label Keyboard_10
label Keyboard_6
    call Keyboard.readCharI 0
    pop local 1
    goto Keyboard_4
label Keyboard_5
    push constant 32
    call Output.printChar 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push local 0
    return
function Keyboard.readInt 1
    push argument 0
    call Keyboard.readLine 1
    pop local 0
    push local 0
    call String.intValue 1
    return